.pagination-button {
  padding: 7px 12px;
  background-color: var(--link-font-color);
  color: var(--primary-font-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-left: 10px;
  font-weight: var(--medium-font);
}

.pagination-button:first-child {
  margin-left: 0;
}

.pagination-button--active {
  background-color: var(--seconday-bg-color);
}

.pagination-button-text {}
