.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--regular-font-size);
  color: var(--primary-font-color);
  margin-top: 25px;
}

.pagination-button-container {
  display: flex;
}