.repeated-tasks-table-wrapper {
  position: relative;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.repeated-tasks-table-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.repeated-tasks-table-empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
