.main-section .input-field-wrapper {
  width: 300px;
}

.repeated-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repeated-task-wrapper {
  width: 50vw;
}

.repeated-tasks-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.repeated-tasks-table {
  width: 100%;
}

.repeated-tasks-edit {
  width: 30%;
}

.repeated-tasks-search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}

.repeated-tasks-search-container .button {
  color: var(--bg-color);
}

.repeated-tasks-search-container .input-field-wrapper:first-child {
  margin-bottom: 0;
}

.repeated-task-illustration-container {
  display: flex;
  justify-content: flex-end;
  width: 25vw;
}
