.repeated-tasks-table-wrapper {
  position: relative;
  background-color: var(--bg-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-size: var(--primary-font-size);
}

.repeated-tasks-table-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: var(--bg-color-lighter);
}

.repeated-tasks-table-loading-wrapper .icon-path {
  fill: var(--bg-color)
}

.repeated-tasks-table-empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: var(--bg-color-lighter);
  color: var(--light-grey);
}
