.repeated-tasks-table-wrapper {
  position: relative;
  background-color: var(--white);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-size: var(--regular-font-size);
}

.repeated-tasks-table-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.repeated-tasks-table-empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
