.repeated-tasks-edit-wrapper {
  width: 500px;
}

.repeated-tasks-edit-heading {
  color: var(--primary-font-color);
  font-size: var(--section-heading-size);
  font-weight: var(--medium-font);
  text-align: center;
  margin: 0;
}

.repeated-tasks-edit-form {
  width: 100%;
  margin-top: 50px;
}