.repeated-task-schedule-item {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: var(--primary-font-color);
  font-weight: var(--medium-font);
  background-color: var(--light-grey);
  font-size: var(--regular-font-size);
  cursor: pointer;
  margin-top: 10px;
  transition: background-color .3s;
  display: inline-table;
}

.repeated-task-schedule-item__active {
  background-color: var(--secondary-color);
  color: var(--light-grey);
}