.repeated-tasks-table-row span:nth-child(1) {
  width: 55%;
}

.repeated-tasks-table-row span:nth-child(2) {
  width: 20%;
}

.repeated-tasks-table-row span:nth-child(3) {
  width: 20%;
}

.repeated-tasks-table-row span:nth-child(4) {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repeated-tasks-table-row span:nth-child(4) {
  cursor: pointer;
}

.repeated-tasks-table-row {
  align-items: center;
  padding: 20px 20px;
  display: flex;
  background-color: var(--bg-color-lighter);
  position: relative;
  color: var(--light-grey)
}

.repeated-tasks-table-row .icon-path {
  fill: var(--link-font-color);
}

.repeated-tasks-table-row:nth-child(odd) {
  background-color: var(--seconday-bg-color);
}

.repeated-tasks-table-row:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}