.repeated-tasks-edit-wrapper {
  background-color: var(--white);
  padding: 30px 30px;
  border-radius: 5px;
}

.repeated-tasks-edit-heading {
  color: var(--primary-color);
  margin: 0;
}

.repeated-tasks-edit-form {
  width: 60%;
  margin-top: 50px;
}