.task {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--border-radius);
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.task--completed {
  opacity: 0.5;
}

.task-content {
  font-size: var(--primary-font-size);
}

.task .input-field {
  margin: 0;
  padding: 0;
  width: 95%;
  background-color: var(--bg-color);
}

.task .input-field-wrapper:first-child {
  margin-bottom: 0;
}
