.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 81px);
}

.login-wrapper {
  color: var(--primary-font-color);
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-border-color);
  background-color: var(--seconday-bg-color);
}

.login-form-wrapper {
  padding-left: 150px;
}

.login-header {
  font-weight: var(--bold-font);
  font-size: var(--section-heading-size);
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.login-form {
  width: 300px;
}

.login-form-button-row {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: var(--seconday-bg-color);
}

.button .icon-path {
  fill: var(--seconday-bg-color);
}

.login-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.login-links-item {
  text-decoration: none;
  color: var(--link-font-color);
  font-weight: var(--medium-font);
  font-size: var(--regular-font-size);
}

.login-links-item:not(:last-child) {
  margin-bottom: 20px;
}
