.App {
  --primary-color: #4A4A4A;
  --white: #fff;
  --letter-spacing: .8px;
}

@font-face {
  font-family: "SF-Pro-Medium";
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: "SF-Pro-Regular";
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: "SF-Pro-Bold";
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}

body {
  margin: 0;
  font-family: "SF-Pro-Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F6F7;
}