.input-field-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-field-wrapper:first-child {
    margin-bottom: 20px;
}

.input-field-label {
    margin-bottom: 5px;
    font-weight: var(--medium-font);
}

.input-field {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-weight: var(--regular-font);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 10px;
}

.input-field[type="password"] {
    font-family: sans-serif;
}

.input-field-wrapper .icon-path {
    position: absolute;
    right: 5px;
    top: calc((39px - 24px) / 2);
}