.textarea-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.textarea-wrapper:first-child {
  margin-bottom: 20px;
}

.textarea-label {
  margin-bottom: 5px;
  font-weight: var(--medium-font);
  color: var(--primary-font-color);
  font-size: var(--primary-font-size);
}

.textarea {
  background-color: var(--input-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--primary-font-color);
  font-weight: var(--regular-font);
  font-family: "Roboto", sans-serif;
  font-size: var(--primary-font-size);
  padding: 10px;
  resize: none;
}